@forward "src/styles/fonts.scss";
@use "src/utils/styles/mediaQuery" as media;

* {
  margin: 0;
  padding: 0;
}

body,
html {
  /* https://css-tricks.com/snippets/css/system-font-stack/ */
  font-family:
    SUIT,
    system-ui,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 10px;

}

// body::after {
//   position:absolute;
//   width:0;
//   height:0;
//   overflow:hidden;
//   z-index:-1;

//   content: url('./assets/image/main.jpg') 
//   url('./assets/image/main2.jpg')
//   url('./assets/image/logo_row_gold.png')
//   url('./assets/image/logo_row_gold_white.png')
//   url('./assets/image/slider/slide.png')
//   url('./assets/image/slider/slide2.png')
//   url('./assets/image/slider/slide3.png')
//   url('./assets/image/slider/slide4.JPG')
//   url('./assets/image/slider/slide5.JPG')
//   url('./assets/image/slider/slide7.JPG')
//   url('./assets/image/doctor/dahi.png') 
//   url('./assets/image/doctor/hyein.png')   
//   url('./assets/image/doctor/yeji.png');
// }
button {
  font-family: SUIT, system-ui;
}

input {
  font-family: SUIT, system-ui;

  &::placeholder {
    font-family: SUIT, system-ui;
  }
}

